{sub_dirs, ["rel"]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "./"}]}}]}.
{edoc_opts,[{todo,true},{private,true}]}.
{deps, [
	    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy", {tag, "2.0.0-pre.7"}}},
	    {jiffy, "0.*", {git, "https://github.com/davisp/jiffy", {tag, "0.14.11"}}}
]}.
{dialyzer, 
    [ {warnings, [unmatched_returns, error_handling]}
]}.
