{sub_dirs, ["rel"]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "./"}]}}]}.
{edoc_opts,[{todo,true},{private,true}]}.
{deps, [
	    {cowboy, ".*", {git, "https://github.com/ninenines/cowboy", {branch, "master"}}},
	    {jiffy, "0.*", {git, "https://github.com/davisp/jiffy", {tag, "0.14.8"}}},
	    {xref_runner, "0.2.2", {git, "https://github.com/inaka/xref_runner", {tag, "0.2.2"}}}
		     
]}.
{dialyzer, 
    [ {warnings, [unmatched_returns, error_handling]}
]}.
